@import "custom/animations";
@import "custom/buttons";

$primary: #0b6b74;
.no-label-input {
  .bx--label {
    @apply hidden;
  }

  .bx--text-input,
  select {
    @apply h-12 bg-serenity-gray border-0 focus:outline-none focus:bg-serenity-gray text-white;
  }

  select {
    @apply text-white focus:text-white;
  }
}

.se-no-label {
  .bx--label {
    @apply hidden;
  }
}

.se-dark-input {
  .bx--text-input,
  select {
    @apply bg-serenity-gray border-0 hover:bg-serenity-gray focus:bg-serenity-gray text-white;
  }
}
.se-black-input {
  .bx--text-input,
  select {
    @apply bg-black border-0 hover:bg-black focus:bg-black text-white capitalize;
  }
}

.bx--table-toolbar {
  display: none;
}

.se-tabs {
  .bx--tabs__nav {
    @apply w-full;

    li {
      @apply flex-1;

      a,
      a:focus {
        @apply w-full;
      }
    }
  }
}

.white-tabs {
  ul {
    @apply bg-white;
  }
  a {
    @apply outline-none;
  }

  .bx--tabs__nav-item--selected {
    .bx--tabs__nav-link,
    .bx--tabs__nav-link:active {
      outline: none !important;
      border-bottom-color: #0b6b74 !important;
      color: #0b6b74 !important;
      font-size: 0.75rem !important;
    }
  }

  a.bx--tabs__nav-link:focus,
  a.bx--tabs__nav-link:active {
    @apply outline-none;
    border-bottom-color: #0b6b74 !important;
  }

  .bx--tabs__nav-item {
    outline: none !important;
    @apply text-gray-500 text-xs text-center;
  }
}

.transparent-table {
  .bx--data-table-header,
  .bx--data-table thead,
  .bx--data-table tbody,
  .bx--data-table td,
  .cv-pagination {
    background-color: transparent !important;
  }
}

.cv-data-table {
  tbody,
  td {
    background-color: white !important;
  }

  td {
    border-top: 1px solid rgba($color: #121619, $alpha: 0.1) !important;
    border-bottom: 1px solid rgba($color: #121619, $alpha: 0.1) !important;
    --tw-border-opacity: 0.1 !important;
  }

  .bx--expandable-row{
    td{
      border-width: 0px !important;
    }
  }
}

.bx--modal-container--xs {
  @apply max-h-screen;
}

.inherit-full-input {
  label {
    @apply text-primary;
  }
  div,
  select,
  input,
  .bx--date-picker__input, .bx--time-picker, .bx--select-input {
    width: 100% !important;
    
    @apply text-left max-w-full min-w-0;
  }

  .bx--number__controls{
    @apply items-end
  }

  .bx--select-input{
    padding: 0 1rem 0 1rem;
  }
}

.bx--number{
  @apply w-full
}

.left-button{
  .bx--radio-button__label{
    justify-content: flex-start !important;
  }
}

.se-no-title-modal {
  .bx--modal-header {
    @apply bg-white;
    .bx--modal-header__label, .bx--modal-header__heading{
      @apply hidden;
      padding: 0!important;
      margin: 0!important;
    }
  }

  .bx--modal-container {
    @apply h-auto max-h-screen bg-white;
  }

  .bx--modal-content{
    padding-top: 0 !important;
    @apply bg-white
  }

  .bx--text-input{
    background-color: #f4f4f4;
  }
}

.se-modal-no-padding {
  .bx--modal-content {
    padding: 0 !important;
  }
}

.se-checkbox {
  .bx--checkbox:checked + .bx--checkbox-label::before {
    @apply bg-serenity-primary border-serenity-primary;
  }
}

.se-date-picker {
  .bx--date-picker-container {
    width: auto !important;
    border-bottom: 1px solid #8d8d8d;
    @apply flex-row items-center w-auto bg-white px-6;
  }

  label {
    @apply p-0 m-0;
  }

  input {
    @apply bg-white border-0 flex items-center;
  }
}
.se-white-date-picker {
  .bx--date-picker-container {
    width: auto !important;
    border-bottom: 1px solid #8d8d8d;
  }

  input {
    @apply bg-white border-0 flex items-center;
  }
}

.se-custom-input {
  height: auto;
  div {
    @apply w-full;
  }
  input,
  select,
  textarea {
    @apply border-white w-full h-12 max-w-full;
  }

  input:focus,
  select:focus,
  textarea:focus {
    border-bottom: 1px solid $primary;
  }
}

.bx--btn--primary:focus {
  outline: none !important;
  border-color: transparent !important;
  // font-family: 'Graphik' !important;
  box-shadow: 0 0 #0000 !important;
}

.bx--modal-content {
  padding: 1.5rem !important;
  margin: 0 !important;
}

button:focus {
  outline: none !important;
  border-color: transparent !important;
  // font-family: 'Graphik' !important;
  box-shadow: 0 0 #0000 !important;
}

.bx--select {
  @apply w-full;
  div,
  select {
    @apply w-full;
  }
}

.bx--btn {
  max-width: 30rem !important;
}

.v-toast {
  z-index: 10000 !important;
}
.v-toast.v-toast--top {
  top: 2rem !important;
}



.multiselect{
  input, .multiselect__single{
    background: inherit
  }
  .multiselect__tags{
    background-color: #f4f4f4;
    @apply rounded-none border-0;
    border-bottom: 1px solid #8d8d8d;
  }
  .multiselect__tag, .multiselect__option--highlight, .multiselect__option--highlight:after,.multiselect__tag-icon:focus, .multiselect__tag-icon:hover{
    @apply bg-serenity-primary;
  }
  .multiselect__tag-icon:after{
    @apply text-white;
  }
  .multiselect__clear {
  @apply flex items-center justify-center h-10 w-10 cursor-pointer z-10 absolute right-5;
  }
  
}

.multiselect-white{
  .multiselect__tags, .multiselect__tags{
    @apply bg-white;
  }
}

.vue__time-picker, .vue-phone-number-input{
  @apply h-10 w-full;
  input{
    border: unset !important;
    border-bottom: 1px solid #8d8d8d !important;
    height: 2.5rem !important;
    width: 100% !important;
    background-color: #f4f4f4 !important;
    border-radius: 0 !important;
  }

}

.flatpickr-time{
  height: 40px !important;
}

// make error handling consistent
.error, .bx--form-requirement{
  @apply text-xs text-red-600 mt-1;
}

.bx--text-input--invalid{
  outline-color: transparent !important;
}

.bx--text-input__invalid-icon{
  display: none !important;
}

// phone number
.vue-phone-number-input{
  background-color: #f4f4f4;
  .input-tel.is-valid .input-tel__label{
    @apply text-serenity-primary
  }
}

.se-no-label{
  label {
    display: none !important;
  }
}

// input customization
.se-input-gray{
  input, textarea{
    background-color: #f4f4f4 !important;
  }
}
.borderless-input{
  input, textarea{
    @apply border-0;
  }
}

// tables
.small-table{
  .bx--table-header-label{
    @apply text-xs font-medium uppercase tracking-wide
  }

  tr{
    @apply h-9
  }

  td p {
    @apply text-sm
  }
}
